---
# SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

# SPDX-License-Identifier: MIT
title: Front Page
do_sitemap: true
frontpage: true
excerpt: "Hi! I'm Ash, an Aussie developer working on the Wii U. This is my blog!"
---
<div id="index-paginator" class="h-feed">
{% for post in paginator.posts %}
<article class="h-entry post">
	<header class="header">
		<a class="u-url u-uid title" href="{{post.url | static_url}}">
			<h1 class="p-name">
				{{post.title | escape}}</h1></a>
		<div class="info">
			<span class="h-card author"><a class="u-url u-uid" href="{{post.author_card}}">
				Written by <span class="p-author">{{post.author | escape}}</span></a>
			</span>
			on
			<time class="dt-published date" datetime="{{post.date | date_to_xmlschema}}">
				{{post.date | date_to_long_string }}
			</time>
			<span class="category">
				Filed in <span class="p-category">{{post.category | escape}}</span>
			</span>
			<span class="tags">
				Tags: {% for tag in post.tags %}
					<span class="p-category">{{tag | escape}}</span>
				{% endfor %}
			</span>
		</div>
	</header>
	<div class="p-summary text">
		{{post.excerpt}}
		<aside><a class="readmore" href="{{post.url |  static_url}}">Read "{{post.title | escape}}"</a></aside>
	</div>
</article>
{% endfor %}
<div class="page-select">
	<a class="prev" href="{{paginator.previous_page_path}}">Prev</a>
	<span class="pageno">Page {{paginator.page}} of {{paginator.total_pages}}</span>
	<a class="next" href="{{paginator.next_page_path}}">Next</a>
</div>

<data class="p-name invis" value="{{site.title}} - Posts"></data>
<span class="p-author h-card invis"><a class="u-url u-uid invis" href="{{page.author_card}}">{{page.author_legal}}</a></span>
<a class="u-url invis" href="{{page.url}}"></a>

</div>
