<!--
SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

SPDX-License-Identifier: MIT
-->
<p>If you have a question or comment on this post, please <a href="mailto:ash@heyquark.com?subject={{page.title | escape}}">email me</a> or <a href="/aboutme">contact me</a>!</p>
