<!--
SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

SPDX-License-Identifier: MIT
-->

<footer id="page-footer">
	<div class="copyright">Copyright 2022 Ash (quarktheawesome).<br />
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><picture>
            <source srcset="/assets/img/cc-by.webp" type="image/webp">
            <img alt="Creative Commons License" style="border-width:0" src="/assets/img/cc-by.png" />
        </picture></a>
		<br />This work by <a xmlns:cc="http://creativecommons.org/ns#" href="https://heyquark.com" property="cc:attributionName" rel="cc:attributionURL">{{page.author_legal}}</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />
		The code, layouts and stylesheets used by this website are mostly licensed under MIT - please see the REUSE/SPDX information in <a href="https://gitlab.com/QuarkTheAwesome/heyquark.com">the git repository</a> for more information.
	</div>
	<p>This site uses the Exo 2 font by <a href="http://www.ndiscovered.com/">Natanael Gama</a>.</p>
	<p>This site uses <a href='https://mutant.tech'>Mutant Standard emoji</a>, which are licensed under a <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/'>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
	<nav>
		<a href="{{"/" | relative_url}}">Home</a>
		<a href="{{"/aboutme" | relative_url | static_url}}">About Me</a>
        <a href="{{"/privacy" | relative_url}}">Privacy</a>
	</nav>
</footer>
