<!--
SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

SPDX-License-Identifier: MIT
-->
<!-- Hi! if you've hit Ctrl-U on a finished page and are wondering why there's
     so many SPDX identifiers, it's because of the way my templating engine
     works. Please see https://gitlab.com/QuarkTheAwesome/heyquark.com and
     find the file you're interested in for reliable licensing info. -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

	<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="heyquark posts">

	<link rel="stylesheet" href="{{'/assets/css/fonts.css' | relative_url }}">
	<link rel="preload" as="font" type="font/woff2" href="{{'/assets/woff/exo2.woff' | relative_url}}" crossorigin>

	<link rel="stylesheet" title="heyquark light" href="{{ '/assets/css/main.css' | relative_url }}">
	<link rel="stylesheet alternate" title="heyquark dark" href="{{ '/assets/css/main-dark.css' | relative_url }}">
	<link rel="stylesheet alternate" title="heyquark light hyperlegible" href="{{ '/assets/css/main-legible.css' | relative_url }}">
	<link rel="stylesheet alternate" title="heyquark dark hyperlegible" href="{{ '/assets/css/main-dark-legible.css' | relative_url }}">

	<link rel="canonical" href="{{site.canon-url}}{{page.url}}">

	<!--<script src="{{ '/assets/atom-widget.js' | relative_url }}"></script>-->

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/webp" sizes="192x192"  href="/assets/icons/android-icon-192x192.webp">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
	<link rel="icon" type="image/webp" sizes="32x32" href="/assets/icons/favicon-32x32.webp">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
	<link rel="icon" type="image/webp" sizes="96x96" href="/assets/icons/favicon-96x96.webp">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
	<link rel="icon" type="image/webp" sizes="16x16" href="/assets/icons/favicon-16x16.webp">
	<meta name="msapplication-TileColor" content="#567afc">
	<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#567afc">

	<meta name="description" content="{{page.excerpt | strip_html | escape}}">

	{{page.head_extras}}
</head>
<body>
