<!--
SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

SPDX-License-Identifier: MIT
-->

<header id="page-header" role="banner">
	<a class="title" href="{{"/" | relative_url}}">{{site.title}}</a>
	{% if page.permalink == "aboutme/" %}
		{% assign header_thispage = "aboutme" %}
	{% else %}
		{% assign header_thispage = "blog" %}
	{% endif %}
	<nav>
		{% comment %}
			This could probably be a LOT neater.
		{% endcomment %}
		<a href="{{"/" | relative_url}}"
		{% if header_thispage == "blog" %}
			class="current"
		{% endif %}><span>Blog</span></a>
		<a href="{{"/aboutme" | relative_url }}"
		{% if header_thispage == "aboutme" %}
			class="current"
		{% endif %}><span>About Me</span></a>
	</nav>
</header>
