<!--
SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

SPDX-License-Identifier: MIT
-->

<div id="page-sidebar">
	<div class="recent-posts">
		<span class="title">Recent Posts</span>
		<nav>
		{% for post in site.posts limit:5 %}
			<a href="{{post.url | static_url}}">{{post.title | escape}}</a>
		{% endfor %}
		</nav>
	</div>
	<div class="blogroll">
		<span class="title">Friends</span>
		<nav>
			<a rel="friend" href="https://cadence.moe/">Cadence</a>
			<a rel="friend sweetheart" href="https://gemini.emisocks.com/emisocks.com">Emi</a>
			<a rel="friend" href="https://compucat.me/">Alex</a>
			<a rel="friend" href="https://invoxiplaygames.uk/">Emma</a>
			<a rel="friend" href="https://vgmoose.com/">vgmoose</a>
		</nav>
	</div>
	<div class="blogroll">
		<span class="title">Cool Blogs</span>
		<nav>
			<a href="https://soatok.blog/">Dhole Moments</a>
			<a href="https://fasterthanli.me/">fasterthanli.me</a>
			<a href="https://www.talospace.com/">Talospace</a>
			<a href="https://dolphin-emu.org/blog/">Dolphin Emulator</a>
			<a href="https://pointieststick.com/">Adventures in Linux and KDE</a>
			<a href="https://googleprojectzero.blogspot.com/">Project Zero</a>
		</nav>
	</div>
	<!--I got banned from PayPal :( <div class="kofi-button">
		<a href='https://ko-fi.com/G2G8BYE8' target='_blank'><picture>
            <source srcset="{{"/assets/img/kofi.webp" | relative_url}}" type="image/webp">
            <img src="{{"/assets/img/kofi.png" | relative_url}}" alt="Buy Me a Coffee at Ko-Fi"/>
        </picture></a>
	</div>-->
	<iframe class="ad" src="https://ads.heyquark.com/ad"
		sandbox="allow-popups allow-popups-to-escape-sandbox"></iframe>
	<div class="ad-text">
		<a href="https://ads.heyquark.com">heyquark ads</a>
		<p>ads are not endorsed by me</p>
	</div>
</div>
