---
layout: none
---
/*
 * SPDX-FileCopyrightText: 2019 Ash Logan <ash@heyquark.com>
 *
 * SPDX-License-Identifier: MIT
 */

@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2.woff' | relative_url }}");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2-bold.woff' | relative_url }}");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2-italic.woff' | relative_url }}");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Exo2;
    src: url("{{'/assets/woff/exo2-bolditalic.woff' | relative_url }}");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url("{{'/assets/woff/Atkinson-Hyperlegible-Regular-102a.woff2' | relative_url }}");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url("{{'/assets/woff/Atkinson-Hyperlegible-Bold-102a.woff2' | relative_url }}");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url("{{'/assets/woff/Atkinson-Hyperlegible-Italic-102a.woff2' | relative_url }}");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url("{{'/assets/woff/Atkinson-Hyperlegible-BoldItalic-102a.woff2' | relative_url }}");
    font-weight: bold;
    font-style: italic;
}
