---
#Main css sheet, light theme
---
/*
 * SPDX-FileCopyrightText: 2019 Ash Logan <ash@heyquark.com>
 *
 * SPDX-License-Identifier: MIT
 */

//Font
$base-font-size: 18px;
$base-line-height: 1.4em;
$base-font-family: 'Atkinson Hyperlegible', sans-serif;
$content-title-font-family: 'Atkinson Hyperlegible', sans-serif;
$content-title-font-size: $base-font-size * 2;
$content-title-line-height: 1em;
$site-title-font-size: $base-font-size * 3;
$site-title-font-family: $content-title-font-family;
$site-nav-font-size: $base-font-size * 1;
$site-nav-font-family: $content-title-font-family;

//Colours
$page-background: #001010; //TODO
$page-element-shadow-colour: #000;
$page-element-background: #0F1C1E;
$content-area-text-colour: #3DCEA5; //TODO
$content-title-text-colour: #3DCEA5;
//$site-title-text-colour: darken($content-title-text-colour, 100%);
$site-nav-text-colour: darken($content-title-text-colour, 10%);
$content-info-text-colour: darken($content-title-text-colour, 20%);
$accent-border: #00B679;
$faint-border: darken($page-element-background, 20%);

$general-theme: dark;

$footer-text-color: $content-area-text-colour;

a {
    color: $content-area-text-colour;
}
a:visited {
    color: $content-info-text-colour;
}

@import "heyquark";
@import "highlight-fruity";
