---
#Main css sheet, light theme
---
/*
 * SPDX-FileCopyrightText: 2019 Ash Logan <ash@heyquark.com>
 *
 * SPDX-License-Identifier: MIT
 */

//Font
$base-font-size: 18px;
$base-line-height: 1.4em;
$base-font-family: 'Atkinson Hyperlegible', sans-serif;
$content-title-font-family: 'Atkinson Hyperlegible', sans-serif;
$content-title-font-size: $base-font-size * 2;
$content-title-line-height: 1em;
$site-title-font-size: $base-font-size * 3;
$site-title-font-family: $content-title-font-family;
$site-nav-font-size: $base-font-size * 1;
$site-nav-font-family: $content-title-font-family;

//Colours
$page-background: #CCC; //TODO
$page-element-shadow-colour: #AAA;
$page-element-background: #EEE;
$content-area-text-colour: #000; //TODO
$content-title-text-colour: #000;
$site-title-text-colour: #000;
$site-nav-text-colour: #000;
$content-info-text-colour: #444;
$accent-border: #00F;
$faint-border: darken($page-element-background, 20%);

$general-theme: light;

$footer-text-color: darken($page-background, 50%);

@import "heyquark";
@import "highlight-autumn";
