---
layout: none
---
/*
 * SPDX-FileCopyrightText: 2019 Ash Logan <ash@heyquark.com>
 *
 * SPDX-License-Identifier: MIT
 */

html {
	background-color: #140C2D;
}
body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}
.flavortext {
	color: white;
	text-align: center;
	font-size: 450%;
	font-family: Exo2, sans-serif;
	padding-top: 10px;
}
.text-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
#dtcontainer {
	flex-grow: 6;
	flex-direction: column;
}
#date {
	color: white;
	text-align: center;
	font-size: 200%;
	font-family: Exo2, sans-serif;
}
#time {
	color: #ff6000;
	text-align: center;
	font-size: 700%;
	font-family: Exo2, sans-serif;
	margin-top: 5px;
	font-weight: bold;
	margin-bottom: 20%;
}
