---
# SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>
#
# SPDX-License-Identifier: MIT
title: About Me
permalink: aboutme/
do_sitemap: true
head_extras: |
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/434">
excerpt: >
    Hi! I'm <abbr class="p-name" title="Ash Logan">Ash</abbr>, a <span class="p-age">21</span> year old <abbr class="p-country-name" title="Australia">Aussie</abbr> developer working on anything that interests. I love PowerPC processors, semicolons and Nintendo things. Online, I usually go by <span class="p-nickname">quarktheawesome</span> or <span class="p-nickname">quarky</span> - though quarky is rarely available! I'm a <abbr class="u-pronoun" title="she/her or they/them">she/they</abbr> <abbr title="non-binary">enby</abbr> friend. Feel free to say hi!
---
<header class="header">
    <!-- Nested h1 to match other pages that have links here -->
    <span class="title"><h1>
        {{page.title | escape}}
    </h1></span>
</header>
<div class="text h-card" id="ash-hcard">

    <section class="bio-container">
        <a href="/assets/img/avi.png"><picture>
            <source type="image/webp" srcset="/assets/img/avis/avi-150px.webp,
                                              /assets/img/avis/avi-300px.webp 2x,
                                              /assets/img/avis/avi-500px.webp 3.3x">
            <source type="image/png" srcset="/assets/img/avis/avi-150px.png,
                                             /assets/img/avis/avi-300px.png 2x,
                                             /assets/img/avis/avi-500px.png 3.3x">
            <img class="u-photo avi" src="/assets/img/avi.png" alt="My avi/fursona: Fox-ish blue thing with big ears, brown eyes and a large tousle of fur" title="My avi/fursona. Cute, eh?">
        </picture></a>

        <p class="p-note bio-text">
            {{page.excerpt}}
        </p>
    </section>

    <section>
        <p>
            You can usually find me by my usernames, but for convenience here's some of my prescences you might be interested in:
        </p>
        <ul>
            <li>
                <a href="{{site.canon-url}}">This website</a> - I'm obviously on my own website! I'll blog sometimes and fiddle with the backend frequently. I've made the source available <a href="https://gitlab.com/QuarkTheAwesome/heyquark.com">here</a>. <a rel="me" class="u-uid u-url" href="{{site.canon-url}}{{page.url}}">This page</a> also acts as a h-card; woo microformats!
            </li>
            <li>
                <a class="u-email" href="mailto:ash@heyquark.com">Email (ash@heyquark.com)</a> - Send me comments, say hi, whatever!
            </li>
            <li>
                <a rel="me" href="https://matrix.to/#/@ash:heyquark.com">Matrix (@ash:heyquark.com)</a> - Decentralised messaging platform For The Future™. Uptime not guaranteed.
            </li>
            <li>
                <a rel="me" href="xmpp:ash@heyquark.com">XMPP (ash@heyquark.com)</a> - Decentralised messaging platform straight out of the 90s. Slightly preferred to Matrix. OMEMO encouraged.
            </li>
        </ul>
        <p>
            Not all of my accounts are good for contacting me, though that doesn't mean they don't exist. These links are more here for looking at my content than trying to get in touch.
        </p>
        <ul>
            <li>
                <a rel="me" href="https://github.com/ashquarky">GitHub (ashquarky)</a> - Code goes here. I'll put pretty much anything up, so be aware that there's some real crap available.
            </li>
            <li>
                <a rel="me" href="https://gitlab.com/QuarkTheAwesome">GitLab (QuarkTheAwesome)</a> - I'm slowly moving away from GitHub, so you may also find my stuff here.
            </li>
            <li>
                <a rel="me" href="https://www.youtube.com/@ashquarky">YouTube (@ashquarky)</a> - Loads of shitposts. No really, it's fun!
            </li>
            <li>
                <a rel="me" href="https://twitch.tv/quarktheawesome">Twitch (quarktheawesome)</a> - Very highly occasional streaming!
            </li>
            <li>
                <a rel="me" href="https://www.reddit.com/u/QuarkTheAwesome">Reddit (QuarkTheAwesome)</a> - /r/WiiUHacks and lurking in popular subs for the most part.
            </li>
            <li>
                <a rel="me" href="https://gbatemp.net/members/364754/">GBATemp (QuarkTheAwesome)</a> - I probably spend way too much time on GBATemp. Doesn't everyone?
            </li>
            <li>
                <a href="https://discord.com">Discord</a> (quarky#8525, used to be QuarkTheAwesome#8525) - Here so you can verify if you see me on a server, I don't really use it as my public-facing IM setup. I don't know if DMs even come through for strangers...
            </li>
            <li>
                <a rel="me" href="https://chitter.xyz/@quarky">Mastodon (@quarky@chitter.xyz)</a> - Not really on social media at the moment, contact me directly instead.
            </li>
            <li>
                <a rel="me" href="https://twitter.com/@quarktheawesome">Twitter (@quarktheawesome)</a> - Not really on social media at the moment, contact me directly instead.
            </li>
            <li>
                <a rel="me" href="https://keybase.io/quarktheawesome">Keybase (quarktheawesome)</a> - Remember when PGP was cool? See also: <a href="https://latacora.micro.blog/2019/07/16/the-pgp-problem.html">The PGP Problem</a>
            </li>
        </ul>
    </section>
</div>
