---
# SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>
#
# SPDX-License-Identifier: CC0-1.0
permalink: contact/
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0; url={{"/aboutme" | relative_url}}" />
    <script type="text/javascript">
        window.location.href = "{{"/aboutme" | relative_url}}";
    </script>
    <style type="text/css">
        * {
            font-family: sans-serif;
        }
    </style>
    <title>Page Moved</title>
</head>
<body>
    <h1>Page Moved</h1>
    <main>I've moved this page to /aboutme. If you're not redirected automatically,
    please <a href="{{"/aboutme" | relative_url}}">follow this link</a> to get
    there!</main>
</body>
</html>
