---
# SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>
#
# SPDX-License-Identifier: CC0-1.0
title: Privacy
permalink: privacy/
do_sitemap: true
---
<header class="header">
    <span class="title"><h1>
        Privacy
    </h1></span>
</header>
<div class="text">
<p>
  Hey! I run a pretty boring site here in terms of legal guff, data collection, whatever - basically, I don't really do it.
  There's a few other things I'm fairly sure I have to mention, though:
</p>
<ul>
  <li>
    I host this website on a personal server, so a log of which pages get visited is kept, which happens to include your IP and user agent.
    I only use it to look at usage graphs and stress about the server's billing cycle, and do not share them with third parties.
    Logs are deleted after three days.
  </li>
</ul>
</div>
