---
# SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>
#
# SPDX-License-Identifier: CC0-1.0
permalink: time/
layout: none
---
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone-with-data-2012-2022.min.js" integrity="sha256-JBmiFQfqwSiff0WFFoSxGr285keOnYIWp+uiYRHUTEU=" crossorigin="anonymous"></script>
<link href="{{'/assets/css/fonts.css' | relative_url }}" rel="stylesheet">
<link href="{{'/assets/css/time.css' | relative_url }}" rel="stylesheet">
</head>
<body>
<div class="flavortext text-container"><div>What time is it in Sydney?</div></div>
<div id="dtcontainer" class="text-container">
	<div id="date" class="text-container"><div>Loading...</div></div>
	<div id="time" class="text-container"><div>Loading...</div></div>
</div>
<script>
	function updateTime() {
		var tz = moment.tz(new Date(), moment.tz.guess()).tz("Australia/Sydney");
		document.getElementById("date").innerHTML = tz.format("dddd, MMMM Do YYYY");
		document.getElementById("time").innerHTML = tz.format("h:mm:ss a");
	}
	updateTime();
	window.setInterval(updateTime, 500);
</script>
</body>
</html>
