<!--
SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

SPDX-License-Identifier: MIT
-->

{% include head.html %}
	{% include header.html %}

	<div id="page-wrapper"><div id="page-wrapper-inner">
		<main id="page-content">
			{{content}}
		</main>
		{% include sidebar.html %}
	</div></div>

	{% include footer.html %}
{% include tail.html %}
