<!--
SPDX-FileCopyrightText: 2018 Ash Logan <ash@heyquark.com>

SPDX-License-Identifier: MIT
-->

{% include head.html %}
	{% include header.html %}

	<div id="page-wrapper"><div id="page-wrapper-inner">
		<main id="page-content" class="h-entry">
			<article>
				<header class="header">
					<a class="u-url u-uid title disable-lr-padding" href="{{page.url |  static_url}}">
						<h1 class="p-name">
						{{page.title | escape}}</h1>
					</a>
					<div class="info disable-lr-padding">
						<span class="h-card author"><a class="u-url u-uid" href="{{page.author_card}}">
							Written by <span class="p-author">{{page.author | escape}}</span></a>
						</span>
						on
						<time class="dt-published date" datetime="{{page.date | date_to_xmlschema}}">
							{{page.date | date_to_long_string }}
						</time>
						<span class="category">
							Filed in <span class="p-category">{{page.category | escape}}</span>
						</span>
						<span class="tags">
							Tags: {% for tag in page.tags %}
								<span class="p-category">{{tag | escape}}</span>
							{% endfor %}
						</span>
					</div>
				</header>

				<div class="e-content text post-text">
					<!--You are using the <b>POST</b> layout<p />-->
					{{content}}
				</div>
			</article>

			<div class="disqus-wrapper">
				{% if page.comments %}{% include disqus.html %}{% endif %}
			</div>
		</main>
		{% include sidebar.html %}
	</div></div>

	{% include footer.html %}
{% include tail.html %}
